*{
    margin: 0;
    padding: 0;
  }
.form{
    height: 15vw;
    font-size: 135%;
    background-color: #F7F7F2;
    width: 40vw;
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: bold;
    margin: 50px auto 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 35px 50px 20px;
    font-size: 25px;
    /* font-family: ; */
    color: rgb(80, 47, 4);
}
#secs{
    display: block;
    margin-bottom: 25px;
}
.inputs{
    height: 1.5vw;
    width: 10vw;
}
#company{
    margin-left: 100px;
}
#role{
    margin-left: 180px;
}
#status{
    margin-left: 140px;
}
#btn{
    background-color: rgb(140, 247, 211);
    height: 2.3vw;
    width: 7vw;
    border:none;
    color: white;
    
    border-radius: 5px;
    margin:10px 230px 0;
    cursor: pointer;
}
#btn:hover{
    transform: scale(1.05);
    background-color: rgb(90, 248, 166);
    font-weight: bold;
}

